<div class="header">
  <div class="header-title">
    <mat-icon>announcement</mat-icon>
    <span>Aktualności</span>
  </div>

  <ng-container *ngIf="massEditing; then massEditingToolbar else usualToolbar"></ng-container>
  <ng-template #usualToolbar>
    <div class="header-toolbar">
        <mat-form-field appearance="standard" floatLabel="never">
          <mat-label>Wyszukaj artykuł</mat-label>
          <input matInput>
        </mat-form-field>

      <button mat-raised-button class="primary" *ngIf="currentRole === Roles.Employee" (click)="setMassEditing()">
        Zaznacz wiele
      </button>
      <button mat-raised-button class="primary">Filtruj</button>
      <button mat-raised-button class="accent" *ngIf="currentRole === Roles.Employee" (click)="navigateToAdding()">Dodaj
        artykuł
      </button>
    </div>
  </ng-template>
  <ng-template #massEditingToolbar>
    <div class="header-toolbar">
      <button mat-raised-button class="primary" (click)="unsetMassEditing()">Anuluj</button>
      <button mat-raised-button class="primary"
              *ngIf="selectedArticles.length > 0"
              (click)="deleteSelectedArticles()">Usuń zaznaczone ({{selectedArticles.length}})
      </button>
    </div>
  </ng-template>
</div>

<div class="content">
  <ng-container *ngIf="errorHasOccured; then errorTemplate; else contentTemplate"></ng-container>
  <ng-template #contentTemplate>

    <ng-container *ngIf="articles.length > 0; then articlesTemplate; else noArticlesTemplate"></ng-container>
    <ng-template #articlesTemplate>
      <app-article-card *ngFor="let article of articles" [article]="article"
                        [massEditing]="massEditing"></app-article-card>
    </ng-template>
    <ng-template #noArticlesTemplate>
      Nie znaleziono żadnych artykułów! :(
    </ng-template>

  </ng-template>
  <ng-template #errorTemplate>
    {{errorMessage}}
  </ng-template>
</div>
