mat-card {
  margin: 15px 0;
}

mat-card-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 0;
}

.card-button-right {
  text-align: right;
}

button[mat-raised-button] {
  margin: 0;
}

.trip-card-status {
  font-weight: 600;
  letter-spacing: 1px;
}

.trip-card-group-and-dates {
  font-size: 0.875em;
  font-style: italic;
}

.trip-card-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: hidden;

  height: 200px;
  margin: 10px 0;
}

.trip-card-images img {
  height: 200px;
  border: 1px solid #EFEFEF;
}

.trip-card-points-and-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
