<mat-card>
  <mat-card-title>{{trip.name}}
    <mat-checkbox *ngIf="massEditing && trip.verificationStatus === 1" (change)="sendTripCardChangeEvent($event)"></mat-checkbox>
  </mat-card-title>
  <div class="trip-card-status" [ngStyle]="{'color': trip.verificationStatusColor}">{{trip.verificationStatusString}}</div>
  <div class="trip-card-group-and-dates">{{trip.mountainAndDatesText}}</div>
  <div class="trip-card-images" *ngIf="(!massEditing || trip.verificationStatus === 1) && trip.hasRoutes">
    <img *ngFor="let index of photoIndexes" src="assets/zdjecie trasa {{index}}.jpg" alt="trip photo">
  </div>
  <div class="trip-card-points-and-details" *ngIf="!massEditing || trip.verificationStatus === 1">
    <div>Punkty zdobyte: {{trip.pointSum}}</div>
    <div class="card-button-right">
      <button mat-raised-button class="accent"
              routerLink="/trip/{{trip.tripId}}"
              *ngIf="!massEditing">Szczegóły</button>
    </div>
  </div>
</mat-card>
