<img id="side-nav-logo" src="assets/logo.jpg" alt="app logo" routerLink="" (click)="clearRole()">
<div class="side-nav-section" *ngFor="let section of getMenuSections()">
  <div class="side-nav-section-title">{{section.title}}</div>
  <div *ngFor="let item of section.items"
       [ngClass]="selectedItem === item ? 'side-nav-section-item-visited' : 'side-nav-section-item'"
       routerLink="/{{item.url}}">{{item.name}}</div>
</div>
