#side-nav-logo {
  display: block;
  margin: 25px auto;

  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.side-nav-section-title {
  font-size: 2em;
  margin: 5px 10px;
}

div[class^="side-nav-section-item"] {
  font-size: 1.3em;
  font-weight: lighter;
  text-align: end;
  padding: 5px 10px;
  cursor: pointer;
}

.side-nav-section-item-visited {
  background-color: #2B651B;
}

div[class^="side-nav-section-item"] > a {
  margin: 0 5px;
}

div[class^="side-nav-section-item"]:hover {
  background-color: #2B651B;
}
