<mat-card>
  <mat-card-title>
    #{{norm.normDecisionId}}
  </mat-card-title>

  <mat-card-content>
    <div class="badge-type"> Rodzaj odznaki: {{norm.badgeNorm.touristBadge.badge.type}}</div>
    <div class="badge-degree">Stopień odznaki: {{norm.badgeNorm.touristBadge.badge.degree}}</div>
    <div class="dates">{{norm.dateOfFirstTrip.toLocaleDateString()}} - {{norm.dateOfLastTrip.toLocaleDateString()}}</div>

    <hr>

    <div class="map-and-trips">
      <img class="map" src="assets/mapka duza.PNG" alt="norm map">
      <div class="trips">
        <mat-card *ngFor="let trip of norm.badgeNorm.trips">
          <mat-card-title>{{trip.name}}</mat-card-title>
          <mat-card-content>
            {{trip.mountainAndDatesText}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <hr>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button class="accent" routerLink="/norm/{{norm.normDecisionId}}">Szczegóły</button>
  </mat-card-actions>
</mat-card>
