mat-card {
  margin: 15px 0;
}

.badge-type, .badge-degree, .dates {
  font-style: italic;
}

hr {
  width: 100%;
  background-color: #E0E0E0;
  border-top: solid 1px #E0E0E0;
  border-bottom: none;
}

.map-and-trips {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  margin: 10px 0;
  max-height: 500px;
}

.map {
  flex-grow: 1;
  max-width: 50%;
  margin-right: 15px;
}

.trips {
  flex-grow: 1;
}

.trips > mat-card:first-child {
  border-radius: 5px 5px 0 0;
}

.trips > mat-card {
  border-radius: 0;
  background-color: #B6CFB2;

  margin: 0;
  padding: 10px;

  border-bottom: solid 1px #EFEFEF;

  font-style: italic;
}

.trips > mat-card > mat-card-title {
  font-style: normal;
  font-size: 14pt;
  margin-bottom: 5px;
}

.trips > mat-card:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

mat-card-actions {
  margin: 0 !important;
  padding: 0 !important;
}
