<div mat-dialog-title>Potwierdź usunięcie wycieczek</div>
<div mat-dialog-content>
  <div>Jesteś pewien, że chcesz usunąć wycieczki?</div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button class="primary" [mat-dialog-close]="false">Anuluj</button>
  <button mat-raised-button class="accent" [mat-dialog-close]="true">Usuń wycieczki</button>
</div>
