<mat-form-field>
  <mat-label>Wybierz swoją rolę</mat-label>
  <mat-select [(value)]="numberOfRoleToChoose">
    <mat-option [value]="0">Gość</mat-option>
    <mat-option [value]="1">Turysta</mat-option>
    <mat-option [value]="2">Przodownik</mat-option>
    <mat-option [value]="3">Pracownik</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button class="accent" (click)="chooseRole()">Wybierz</button>
