<mat-card>
  <mat-card-title>{{article.title}}
    <mat-checkbox *ngIf="massEditing" (change)="sendArticleCardChangeEvent($event)"></mat-checkbox>
  </mat-card-title>

  <div id="date">{{article.updateDate.toLocaleDateString()}}</div>
  <div id="summary">
    {{article.text}}
  </div>
  <div class="card-button-right">
    <button mat-raised-button class="accent"
            routerLink="/article/{{article.articleId}}"
            [disabled]="massEditing">Czytaj</button>
  </div>
</mat-card>
