mat-card {
  margin: 15px 0;
}

.card-button-right {
  text-align: right;
}

button[mat-raised-button] {
  margin: 0;
}

mat-card-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 0;
}

#date {
  font-size: 10pt;
  font-weight: lighter;
  font-style: italic;
}

#summary {
  margin: 10px 0;
  font-size: 12pt;
  font-style: italic;
}
