<div class="header">
  <div class="header-title">
    <mat-icon>done</mat-icon>
    <span>Prośby o potwierdzenie normy</span>
  </div>
</div>

<div class="content">
  <ng-container *ngIf="errorMesssage; then errorTemplate; else noErrorTemplate"></ng-container>
  <ng-template #errorTemplate>
    {{this.errorMesssage}}
  </ng-template>
  <ng-template #noErrorTemplate>
    <ng-container *ngIf="unverifiedNorms.length > 0; then normsFound; else noNormsFound"></ng-container>
    <ng-template #noNormsFound>
      <div class="empty-response">
        Nie przypisano Ci żadnych norm do zweryfikowania.
      </div>
    </ng-template>
    <ng-template #normsFound>
      <app-norm-card *ngFor="let norm of unverifiedNorms" [norm]="norm"></app-norm-card>
    </ng-template>
  </ng-template>

</div>
