<div class="header">
  <div class="header-title">
    <mat-icon>announcement</mat-icon>
    <span>Aktualności</span>
  </div>
  <div class="header-toolbar">
    <button mat-raised-button class="primary" routerLink="/articles">Anuluj</button>
    <button mat-raised-button class="accent"
            (click)="action === 'edit' ? saveEditedArticle() : addNewArticle()"
            [disabled]="articleForm.invalid">Zapisz</button>
  </div>
</div>

<div class="content">

  <ng-container *ngIf="hasErrorOccured; then errorTemplate; else contentTemplate"></ng-container>
  <ng-template #contentTemplate>
    <form [formGroup]="articleForm">
      <mat-form-field appearance="outline">
        <mat-label>Tytuł</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="title.invalid">Tytuł jest wymagany.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Słowa kluczowe</mat-label>
        <input matInput formControlName="keywords">
        <mat-error *ngIf="keywords.invalid">Słowa kluczowe muszą składać się tylko z liter i cyfr,
          być poprzedzone znakiem '#' oraz rozdzielone przecinkami.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Treść</mat-label>
        <textarea matInput cdkTextareaAutosize formControlName="content" required></textarea>
        <mat-error *ngIf="content.invalid">Treść jest wymagana</mat-error>
      </mat-form-field>
    </form>
  </ng-template>
  <ng-template #errorTemplate>
    Wystąpił błąd: {{errorMessage}}
  </ng-template>
</div>
