<div class="header">
  <div class="header-title">
    <mat-icon>directions_walk</mat-icon>
    <span>Wycieczki</span>
  </div>
  <ng-container *ngIf="massEditing; then massEditingToolbar; else usualToolbar"></ng-container>
  <ng-template #usualToolbar>
    <div class="header-toolbar">
      <mat-form-field appearance="standard" floatLabel="never">
        <mat-label>Wyszukaj wycieczkę</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button class="primary" (click)="setMassEditing()">Zaznacz wiele</button>
      <button mat-raised-button class="primary">Filtruj</button>
      <button mat-raised-button class="accent" routerLink="/new-trip">Dodaj wycieczkę</button>
    </div>
  </ng-template>
  <ng-template #massEditingToolbar>
    <div class="header-toolbar">
      <button mat-raised-button class="primary" (click)="unsetMassEditing()">Anuluj</button>
      <button mat-raised-button class="accent"
              (click)="openDialogToConfirmDeletingTrips()"
              *ngIf="selectedTrips.length > 0">Usuń wycieczki ({{selectedTrips.length}})</button>
    </div>
  </ng-template>

</div>

<div class="content">
  <ng-container *ngIf="errorHasOccured; then errorTemplate; else contentTemplate"></ng-container>
  <ng-template #contentTemplate>

    <ng-container *ngIf="trips.length > 0; then tripsTemplate; else noTripsTemplate"></ng-container>
    <ng-template #tripsTemplate>
      <app-trip-card *ngFor="let trip of trips" [trip]="trip" [massEditing]="massEditing"></app-trip-card>
    </ng-template>
    <ng-template #noTripsTemplate>
      Nie posiadasz żadnych wycieczek.
    </ng-template>
  </ng-template>
  <ng-template #errorTemplate>
    {{errorMessage}}
  </ng-template>



</div>
