/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #303030;
}

body {

}

mat-icon::selection {
  background: #FFFFFF00;
}



app-root {
  display: block;
  height: 100%;
}

app-choose-role {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

app-snack-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  z-index: 2;

  width: 100%;

  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.header-title {
  height: 100px;
  padding: 10px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  font-size: 36pt;
  font-style: italic;
  font-weight: lighter;
  background-color: #B6CFB2;
}

.header-title > mat-icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
  margin: 10px;
  cursor: default;
}

.header-toolbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  height: 70px;
  padding: 0 25px;
  background-color: #E4E4E4;

  font-size: 14pt;
  color: #303030;
}

.content {
  position: absolute;
  top: 190px;
  right: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-flow: column nowrap;

  height: calc(100% - 190px - 30px);
  padding: 15px 25px;
  overflow-x: hidden;
  overflow-y: auto;
}

.empty-response {
  margin: auto;
  font-size: 16pt;
  font-weight: lighter;
  font-style: italic;
}

h1 {
  margin: 0;

  font-size: 28pt;
  font-weight: bold;
  font-family: "Roboto Condensed", Roboto, sans-serif;
}

/* button styles */

button[mat-raised-button] {
  margin: 5px 5px;
}

button[mat-raised-button] mat-icon {
  margin-right: 5px;
}

button[mat-raised-button].primary {
  height: 40px;
  border-radius: 20px;

  color: #303030;
  background-color: #C7C7C7;
}

button[mat-raised-button].accent {
  height: 40px;
  border-radius: 20px;

  color: #FFFFFF;
  background-color: #243A1E;
}

/* snackbar styles */

.snack-bar-green {
  background-color: #243A1E;
  color: white;
}

.snack-bar-red {
  background-color: #3a0001;
  color: white;
}

/* toolbar styles */

mat-dialog-container {
  padding: 0 !important;
}

app-confirm-deleting-trips {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

app-reject-norm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

mat-dialog-container .mat-form-field-wrapper {
  padding-bottom: 0;
}

mat-dialog-container .mat-dialog-title {
  background-color: #B6CFB2;
  margin: 0 !important;
  padding: 15px;
  font-style: italic;
  font-weight: lighter;
}

mat-dialog-container .mat-dialog-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;

  margin: 24px 24px 0 24px !important;
  padding: 0 !important;
}

mat-dialog-container .mat-dialog-content .mat-form-field {
  width: 100%;
}

mat-dialog-container .mat-dialog-actions {
  padding: 0 !important;
  margin: 0 24px 12px !important;
}
