<div class="header">
  <div class="header-title">
    <mat-icon>done</mat-icon>
    <span>Prośby o potwierdzenie normy</span>
  </div>
  <div class="header-toolbar">
    <button mat-raised-button class="primary" (click)="navigateBack()">
      <mat-icon matPrefix>arrow_back</mat-icon>
      Wróć
    </button>
    <button mat-raised-button class="primary" (click)="openDialogToGiveReasonForRejection()">Odrzuć normę</button>
    <button mat-raised-button class="accent" (click)="verifyNorm()">Potwierdź normę</button>
  </div>
</div>

<div class="content">
  <div class="name">Norma #{{norm.normDecisionId}}</div>
  <div class="badge-type"> Rodzaj odznaki: {{norm.badgeNorm.touristBadge.badge.type}}</div>
  <div class="badge-degree">Stopień odznaki: {{norm.badgeNorm.touristBadge.badge.degree}}</div>
  <div class="dates">{{norm.dateOfFirstTrip.toLocaleDateString()}} - {{norm.dateOfLastTrip.toLocaleDateString()}}</div>
  <img class="map" src="assets/mapka duza.PNG" alt="trip map">

  <hr>

  <app-trip-card *ngFor="let trip of norm.badgeNorm.trips" [trip]="trip"></app-trip-card>
</div>
