.name {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30pt;
}

.badge-type, .badge-degree, .dates {
  font-size: 10pt;
  font-style: italic;
}

.map {
  width: 100%;
  margin: 10px 0;
}

hr {
  width: 100%;
  background-color: #E0E0E0;
  border-top: solid 1px #E0E0E0;
  border-bottom: none;
}
