<mat-sidenav-container>
  <mat-sidenav opened mode="side" disableClose="true">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <!-- A lovely little separator between the header and the app content -->

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
