<div class="header">
  <div class="header-title">
    <mat-icon>announcement</mat-icon>
    <span>Aktualności</span>
  </div>
  <div class="header-toolbar">
    <button mat-raised-button class="primary" (click)="navigateBack()">
      <mat-icon matPrefix>arrow_back</mat-icon>
      Wróć
    </button>
    <button mat-raised-button class="primary" *ngIf="currentRole === Roles.Employee" (click)="deleteArticle()">Usuń artykuł</button>
    <button mat-raised-button class="accent" routerLink="/edit-article/edit/{{article.articleId}}"
            *ngIf="currentRole === Roles.Employee">Edytuj artykuł</button>
  </div>
</div>

<div class="content">
  <ng-container *ngIf="hasErrorOccured; then errorTemplate; else articleTemplate"></ng-container>
  <ng-template #articleTemplate>
    <div class="title">{{article.title}}</div>
    <div class="latest-update">{{article.updateDate.toLocaleDateString()}}</div>
    <div class="keywords">{{article.keyWords}}</div>
    <div class="article">
      {{article.text}}
    </div>

  </ng-template>
  <ng-template #errorTemplate>
    Wystąpił błąd: {{errorMessage}}
  </ng-template>

</div>
