.title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30pt;
}

.latest-update {
  font-size: 10pt;
  letter-spacing: 1px;
}

.keywords {
  font-size: 10pt;
  font-style: italic;
}

.article {
  font-size: 12pt;
  font-weight: lighter;
  font-style: italic;
  text-align: justify;

  margin: 10px 0;
}
