<div class="header">
  <div class="header-title">
    <mat-icon>directions_walk</mat-icon>
    <span>Nowa wycieczka</span>
  </div>
  <div class="header-toolbar">
    <button mat-raised-button class="primary" routerLink="/trips">Anuluj</button>
    <button mat-raised-button class="accent"
            (click)="addNewTrip()"
            [disabled]="newTripForm.invalid">Dodaj wycieczkę</button>
  </div>
</div>

<div class="content">
  <form [formGroup]="newTripForm">
    <mat-form-field appearance="outline">
      <mat-label>Nazwa wycieczki</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="name.invalid">Wycieczka musi być nazwana.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Opis wycieczki</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>

  <hr>

  <div class="map-and-routes">
    <div class="routes">
      <div class="routes-header">
        <div>Odcinki</div>
        <button mat-raised-button class="accent">Dodaj odcinek</button>
      </div>
      <div class="routes-details">

      </div>
    </div>
  </div>

  <hr>

  <div class="attachments">
    <div class="attachments-header">
      <div>Załączniki</div>
      <button mat-raised-button class="accent">Dodaj załącznik</button>
    </div>
  </div>
</div>
