<div mat-dialog-title>Odrzuć normę</div>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Powód odmowy</mat-label>
    <textarea [(ngModel)]="reasonForRejection" matInput required></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button class="primary" [mat-dialog-close]="null">Anuluj</button>
  <button mat-raised-button class="accent" [mat-dialog-close]="reasonForRejection">Prześlij</button>
</div>
