<div mat-dialog-title>Poproś o weryfikację wycieczki</div>
<div mat-dialog-content>
  <mat-radio-group [(ngModel)]="przodownikWasPresent">
    <mat-radio-button [value]="false">Na mojej wycieczce nie było przodownika. Chcę, aby przydzielono mi przodownika automatycznie.</mat-radio-button>
    <mat-radio-button [value]="true">Na mojej wycieczce był obecny przodownik.</mat-radio-button>
  </mat-radio-group>
  <div *ngIf="przodownikWasPresent">
    <mat-form-field>
      <input [(ngModel)]="przodownikIdNumber" matInput label="Numer legitymacji przodownika"
             placeholder="Wpisz nr legitymacji przodownika">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button class="primary" [mat-dialog-close]="null">Anuluj</button>
  <button mat-raised-button class="accent" [mat-dialog-close]="przodownikIdNumber">Zatwierdź</button>
</div>
