mat-radio-button {
  display: flex;
  flex-flow: column wrap;
}

#dialog-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

mat-radio-button {
  margin: 10px;
}
