hr {
  width: 100%;
  background-color: #E0E0E0;
  border-top: solid 1px #E0E0E0;
  border-bottom: none;
}

div[class^="name"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.name {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 36pt;
  font-weight: bolder;
}

.name > mat-icon {
  margin: 10px;
  font-size: 24pt;
  height: 24pt;
  cursor: pointer;
}

.name-editing button {
  position: relative;
  bottom: 10px;
  left: 10px;
}

.name-editing mat-form-field {
  width: 50%;
}

.status {
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 1px;
}

.group-and-dates {
  margin-top: 10px;
  font-size: 10pt;
  font-weight: lighter;
  font-style: italic;
}

.days {
  font-size: 10pt;
  font-weight: lighter;
  font-style: italic;
}

.map-and-routes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  margin: 10px 0;
  max-height: 500px;
}

.map {
  flex-grow: 1;
  max-width: 50%;
  margin-right: 15px;
}

.routes {
  flex-grow: 1;
}

.routes-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  font-family: "Roboto Condensed", sans-serif;
  font-size: 24pt;
}

.routes-details {
  margin: 5px 0;
}

.routes-details > mat-card:first-child {
  border-radius: 5px 5px 0 0;
}

.routes-details > mat-card {
  border-radius: 0;
  background-color: #B6CFB2;
  padding: 10px;

  border-bottom: solid 1px #EFEFEF;
}

.routes-details > mat-card > mat-card-title {
  font-size: 14pt;
  margin-bottom: 5px;
}

.routes-details > mat-card:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

.routes-details mat-card-content {
  font-size: 10pt;
  font-weight: lighter;
  font-style: italic;
}

.route-title-actions {
  display: inline;
  float: right;
}

.route-title-actions > mat-icon {
  font-size: 14pt;
  height: 14pt;
  cursor: pointer;
}

.route-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.description {
  font-size: 10pt;
  font-weight: lighter;
  font-style: italic;

  margin: 5px 0;
}

.description mat-form-field {
  width: 100%;
}

.description > mat-form-field + div {
  text-align: right;
}

#attachments {
  margin: 10px 0;
}

.attachments-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  font-family: "Roboto Condensed", sans-serif;
  font-size: 24pt;
}

.attachments-images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  overflow-x: auto;

  margin: 10px 0;
}

.attachments-images > img {
  height: 300px;
  margin: 0 15px;
}

.attachments-files {
  font-size: 10pt;
  font-style: italic;
  font-weight: lighter;
}

.attachement-file {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;

  margin: 5px 0;
  height: 24px;
}

.attachement-file > mat-icon {
  margin: 0 3px;
  height: 24px;
  font-size: 16pt;
}
