<div class="header">
  <div class="header-title">
    <mat-icon>directions_walk</mat-icon>
    <span>Wycieczki</span>
  </div>
  <div class="header-toolbar">
    <button mat-raised-button class="primary" (click)="navigateBack()">
      <mat-icon matPrefix>arrow_back</mat-icon>
      Wróć
    </button>
    <button mat-raised-button class="primary" *ngIf="trip.canBeEdited" (click)="deleteTrip()">Usuń wycieczkę</button>
    <button mat-raised-button class="accent" (click)="openDialogToAskForVerification()"
            *ngIf="currentRole !== Roles.Employee && trip.canBeEdited">Poproś o weryfikację wycieczki</button>
    <button mat-raised-button class="accent" *ngIf="trip.canBeEdited && hasBeenChanged">Zapisz zmiany</button>
  </div>
</div>

<div class="content" *ngIf="trip">
  <ng-container *ngIf="editingName; then editName; else displayName"></ng-container>
  <ng-template #editName>
    <div class="name-editing">
      <mat-form-field appearance="outline">
        <mat-label>Tytuł wycieczki</mat-label>
        <input matInput [(ngModel)]="newName">
      </mat-form-field>
      <button mat-raised-button class="accent"
              (click)="saveNewName()">Zapisz</button>
      <button mat-raised-button class="primary"
              (click)="cancelEditingName()">Anuluj</button>
    </div>
  </ng-template>
  <ng-template #displayName>
    <div class="name">
      <div>
        {{trip.name}}
      </div>
      <mat-icon *ngIf="currentRole !== Roles.Employee"
                (click)="beginEditingName()"
                matSuffix>edit
      </mat-icon>
    </div>
  </ng-template>
  <div class="status" [ngStyle]="{color: trip.verificationStatusColor}">{{trip.verificationStatusString}}</div>
  <div class="group-and-dates">{{trip.mountainAndDatesText}}</div>
  <div class="days" *ngIf="trip.hasRoutes">Dni: {{trip.numberOfDays}}</div>
  <hr>
  <div class="map-and-routes">
    <img class="map" src="assets/mapka.PNG" alt="trip map" *ngIf="trip.hasRoutes">
    <div class="routes">
      <div class="routes-header">
        <div>Odcinki</div>
        <button mat-raised-button class="accent" *ngIf="currentRole !== Roles.Employee && trip.canBeEdited">Dodaj odcinek</button>
      </div>
      <div class="routes-details">
        <mat-card *ngFor="let route of trip.tripPointRoutes">
          <mat-card-title>
            <span>{{route.pointRoute.startPoint.name}} - {{route.pointRoute.endPoint.name}}</span>
            <div class="route-title-actions" *ngIf="currentRole !== Roles.Employee && trip.canBeEdited">
              <mat-icon>edit</mat-icon>
              <mat-icon>delete</mat-icon>
            </div>
          </mat-card-title>
          <mat-card-content>
            <div>data przebycia: {{route.walkDate.toLocaleDateString()}}</div>
            <div class="route-details">
              <div>długość: {{route.pointRoute.length}} km</div>
              <div>wysokość podejścia:
                <span *ngIf="route.heightDiff > 0">{{route.heightDiff}} m</span>
                <span *ngIf="route.heightDiff < 0">n/d</span>
              </div>
              <div>punkty: {{route.points}}</div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
  <hr>
  <div class="edit-description-button" *ngIf="currentRole !== Roles.Employee && editingDescription === false">
    <ng-content
      *ngIf="trip.description === undefined || trip.description.length === 0; then addDescriptionButton; else editDescriptionButton"></ng-content>
    <ng-template #addDescriptionButton>
      <button mat-raised-button class="primary" (click)="beginEditingDescription()">Dodaj opis</button>
    </ng-template>
    <ng-template #editDescriptionButton>
      <button mat-raised-button class="primary" (click)="beginEditingDescription()">Edytuj opis</button>
    </ng-template>
  </div>

  <ng-content *ngIf="currentRole !== Roles.Employee && editingDescription;
                      then editDescription; else displayDescription"></ng-content>
  <ng-template #editDescription>
    <div class="description">
      <mat-form-field appearance="outline">
        <mat-label>Opis wycieczki</mat-label>
        <textarea matInput [(ngModel)]="newDescription"></textarea>
      </mat-form-field>
      <div>
        <button mat-raised-button class="accent"
                (click)="saveNewDescription()">Zapisz
        </button>
        <button mat-raised-button class="primary"
                (click)="cancelEditingDescription()">Anuluj
        </button>
      </div>

    </div>
  </ng-template>
  <ng-template #displayDescription>
    <div class="description">{{trip.description}}</div>
  </ng-template>

  <hr>

  <div class="attachments">
    <div class="attachments-header">
      <div>Załączniki</div>
      <button mat-raised-button class="accent" *ngIf="currentRole !== Roles.Employee && trip.canBeEdited">Dodaj załącznik</button>
    </div>
    <div class="attachments-images">
      <img *ngFor="let index of photoIndexes" src="assets/zdjecie trasa {{index}}.jpg" alt="trip photo">
    </div>
    <div class="attachments-files">
      <div class="attachement-file" *ngFor="let attachement of trip.attachments">
        <mat-icon *ngIf="trip.canBeEdited">delete</mat-icon>
        <a href="assets/zdjecie trasa 1.jpg">{{attachement.filepath}}</a>
    </div>
    </div>
  </div>
</div>
